@font-face
  font-family: "Montserrat-Regular"
  font-style: normal
  font-weight: 400
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format('truetype')
@font-face
  font-family: "Montserrat-Medium"
  font-style: normal
  font-weight: 500
  src: url("../fonts/montserrat/Montserrat-Medium.ttf") format('truetype')
@font-face
  font-family: "Montserrat-SemiBold"
  font-style: normal
  font-weight: 600
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format('truetype')
@font-face
  font-family: "Montserrat-Bold"
  font-style: normal
  font-weight: 700
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format('truetype')
@font-face
  font-family: "Montserrat-ExtraLight"
  font-style: normal
  font-weight: 200
  src: url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format('truetype')
@font-face
  font-family: "Montserrat-Light"
  font-style: normal
  font-weight: 300
  src: url("../fonts/montserrat/Montserrat-Light.ttf") format('truetype')